body {
    height: 100%;
    background: #fafafa;
    display: flex;
    padding-left: 30%;
    padding-top: 40px;
}

.login-box {
    width: 350px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.login-form {
    display: flex;
    flex-direction: column;
}



.input-group input {
    width: 100%; 
    box-sizing: border-box;
    height: 31px;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    height: 31px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #a6a6a6;
}

.password-group {
    position: relative;
}

.forgot-password {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 12px;
    color: #0066c0;
    text-decoration: none;
}

.continue_but {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border: 1px solid;
    height: 29px;
    padding: 0 12px;
    cursor: pointer;
}

.help-link, .create-account {
    text-align: center;
    margin-top: 16px;
}

.help-link a, .create-account a {
    color: #0066c0;
    text-decoration: none;
    font-size: 12px;
}

.divider {
    height: 1px;
    background-color: #ddd;
    margin-top: 18px;
    margin-bottom: 18px;
}

.login-footer {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}


.login-footer .footer-content {
    margin-bottom: 20px;
}

.login-footer .footer-content a {
    margin: 0 10px; 
    color: #0066c0;
    text-decoration: none;
}

.login-footer p {
    margin-bottom: 20px;
}